.messagesWrapper {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 25px 0;
}

//font-weight: 600;

.messageButton {
	margin: 50px 0 0;
	width: 50%;
	background-color: rgba(147, 157, 197, .5) !important;

	&:not(.button--disabled):not(:disabled):hover {
		background-color: rgba(147, 157, 197, .8) !important;
 }
}