.rhap_container {
	background: transparent;
	box-shadow: none;
}

.rhap_progress-section {
	display: none;
}

.rhap_main-controls-button.rhap_play-pause-button {
	svg > path {
		fill: #939DC5;
	}

	&[aria-label=Pause] {
		visibility: hidden;
	}
}

