.timerWrapper {
  display: inline-block;
	position: relative;
  height: 40px;
  width: 40px;
}

.timerText {
	position: absolute;
	font-size: 18px;
	color: #939DC5;
  top: 6px;
  left: 0px;
  text-align:center;
  width: 40px;
}

.countdownSvg  {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdownSvg circle {
  stroke-dasharray: 120px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #939DC5;
  fill: none;
}

.countdownSvg circle.go {
	animation: countdown 30s linear infinite forwards;
	animation-play-state: running;
}

.countdownSvg circle.stop {
	animation: none;
}


@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 120px;
  }
}
