html, body {
     height: 100%;
}

body {
  background: #252C4A;
  //background-image: linear-gradient(to bottom, #E9D79F, #197BAC);
}

.header {
	width: 300px;
	xheight: 300px;
	xmargin: 20px 0;
}

.textSongCountdown {
	color: #939DC5;
	text-align: center;
	display: block;
}

.middle {
	height: 250px;
	overflow: hidden;

	@media only screen and (max-width: 832px) {
 		height: 150px;
 	}
}

.dottedLine {
	width: 100%;
	border: 1px solid #939DC5;
}