body {
  background: #252C4A;
}

.header {
	width: 300px;
	height: 300px;
	xmargin: 20px 0;
}

.textSongCountdown {
	color: #939DC5;
	text-align: center;
	display: block;
}

.textGameQuestion {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 600;
	margin: 50px 0 0;
}

.dottedLine {
	width: 100%;
	border: 1px dashed rgba(147,157,197,.2);
}