body {
  background: #252C4A;
}

.header {
	width: 300px;
	xheight: 300px;
	xmargin: 20px 0;
}

.textSongCountdown {
	color: #939DC5;
	text-align: center;
	display: block;
}

.dottedLine {
	width: 100%;
	margin: 20px 0;
	border: 1px dashed rgba(147,157,197,.2);
}